<html>
    <head>
      <style>
    #rcorners 
   {border-radius: 25px;
    border: 5px solid #000000;}

    body {background-color:lightblue;
          text-align:center}
    

#post {border-radius:25px;
          border:5px 
          solid #ffffff;}

  #center  {text-align:center;
          color:white; 
          }

    #title {text-align:center;
          color:white;}
    #white {color:white;}

    #mastertitle {color:white;
                  text-align:center;
                  font-size:450%;}

    #lefttitle {color:white;
                text-align:left;
                font-size:200%;}

    #left {color:white;
                text-align:left;}

    #posttitle {color:white;
                text-align:center;
                font-size:250%;}

    #text {color:white;
            text-align:center;
            padding-right:0;
            padding-left:45;
            width:90%;
            overflow:hidden;}
    #black {color:black;}
  </style>

      {% if title %}
      <title>{{ title }} - Ayness</title>
      {% else %}
      <title>Welcome to Ayness</title>
      {% endif %}
    </head>
    <body>
        <div id="white">
            Ayness:
            <a href="{{ url_for('index') }}">Home</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('logout') }}">Logout</a>
            <a href="{{ url_for('my_posts') }}">My posts</a>
            <a href="{{ url_for('write_post') }}">Write post</a>
            {% endif %}
          </div>
         <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}
        {% endblock %}
    </body>
</html>
