{% extends "base.html" %}

{% block content %}

    <h1 id = "mastertitle">Ay, {{ current_user.username }}!</h1>

    {% for post in posts%}
    {% if post.public %}
    <form action="" method="post" novalidate>
    

    
    <div id = "post">

   

    <p><b id = "left">- by {{ post.author.username }} </b></p>

    <h1 id = "posttitle"> {{ post.title }} </h1>
    
    <p id = "text"> {{ post.body }} </p> <br>

    </div>

    </form>
    {% endif %}
    {% endfor %}

{% endblock %}

