{% extends "base.html" %}

{% block content %}
    <p>
    New got, yot or something completely else?
    <a href="{{ url_for('register') }}">Click here to join Changot and company!</a>
    </p>

    <h1 id="center">Enter your holy profile</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{form.username.label}}
             <br>
        <div id="black">{{ form.username(size=32) }}</div>
        <br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{form.password.label}} 
            <br>
            <div id="black">{{ form.password(size=32) }}</div><br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.remember_me() }} Do you remember? (Remember me)</p>

        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
