{% extends "base.html" %}

{% block content %}

<h1> {{ current_user.username }}'s posts </h1>

{% for post in posts %}
<form action="" method="post" novalidate>
<div id="post">
    <p id="white"><b>({{ {True:"Public", False: "Private"}[post.public] }})</b></p>
     <h1 id="posttitle"> {{ post.title }} </h1>
    <p id="text"> {{ post.body }} </p><br>
   
    
</div>
</form>
{% endfor %}





{% endblock %}
