{% extends "base.html" %}

{% block content %}
    <h1 id="formtitle">Register</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            Holy sequence <br>
            <div id="black">{{ form.username(size=32) }} 
            </div>
            <br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            Email<br>
            <div id="black"> {{ form.email(size=32) }}</div>
                <br>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            Holy secret sequence<br>
            <div id="black">{{ form.password(size=32) }}
            </div>
                <br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            Repeat Holy secret sequence<br>
            <div id="black">{{ form.password2(size=32) }}
            </div>
                <br>
            {% for error in form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
