{% extends "base.html" %}

{% block content %}

<h1 id="center"> {{ title }} </h1>

<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
<p> 

<div id="lefttitle"> {{ form.title.label }}
{{ form.title(size=20) }} </div>

{% for error in form.title.errors %}

<span style="color: red;">[{{ error }}]</span>
{% endfor %}

</p>

<p>

<div id="lefttitle"> {{ form.text.label }} </div> 
<br>
<div> {{ form.text(size=60)}} </div>
{% for error in form.text.errors %}
<span style="color: red;">[{{ error }}]</span>
{% endfor %}

</p>

<p> {{ form.make_public }} Make public</p>
<p> {{ form.send() }} </p>
</form>
{% endblock %}
